# ignore pycache
__pycache__

# ignore datasets folder and images folder
Datasets/
images/

# ignore large models files
models/*.pt
models/VGG_face_original_model.pt
models/models_*

# ignore these files
relatório.xlsx
dataset_processing.py

# ignore extensions
*.ipynb
*.npy
*.png