# ignore pycache
__pycache__

# ignore datasets folder and images folder
Datasets/
images/
experiments/
RGU/

# ignore large models files
models/weights

# ignore these files
relatório.xlsx
dataset_processing.py

# ignore extensions
*.npy
*.png