# ignore pycache
__pycache__

# ignore datasets folder
Datasets/

# ignore large models files
models/best_VGGNB.pt
models/VGG_face_original_model.pt

# ignore these files
relatório.xlsx
dataset_processing.py